/* RESET & BACKGROUND FULL */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial;
  color: #00ff88;

  /* BANNER SEBAGAI BACKGROUND */
  background-image: url("./img/banner.jpg");
  background-size: cover;          /* KUNCI FULL LAYAR */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;  /* AMAN DI HP */
}

/* OVERLAY GELAP BIAR TEKS JELAS */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
}

/* CONTAINER UTAMA */
.container {
  text-align: center;
  padding: 20px;
}

/* KARTU RANK */
.rank-card {
  background: #111;
  border: 2px solid #00ff88;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
}

/* HARGA */
.price {
  font-size: 22px;
}

/* TOMBOL */
button {
  background: #00ff88;
  color: black;
  border: none;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.buy {
  background: #00ffaa;
}

/* FITUR RANK */
.fitur {
  display: none;
  margin-top: 10px;
  color: white;
}

/* POPUP PEMBAYARAN */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  text-align: center;
  padding-top: 100px;
  z-index: 10;
}

.popup img {
  width: 200px;
  margin: 10px;
  border: 2px solid #00ff88;
  border-radius: 10px;
  cursor: pointer;
}
